#top_buttons {
  background: black
}

.content-box {
  box-sizing: border-box;
}

div {
  display: inline-block;
  width: 100px;
  height: 50px;
  padding: 10px;
  order: 10px red;
  background: slategray;
  margin: 0;
  color: white;
  font-family: helvetica;
  /font-weight: bold;
  font-size: 25px;
  text-align: center;
  border-radius: 10px
}

div2 {
  display: inline-block;
  width: 200px;
  height: 31px;
  padding: 10px;
  order: 10px red;
  background: slategray;
  margin: 0;
  color: white;
  font-family: helvetica;
  /font-weight: bold;
  font-size: 25px;
  text-align: center;
  border-radius: 10px
}

div3 {
  display: inline-block;
  background: lightgrey;
  width: 800px;
  height: 150px;
  padding: 10px;
}

.second-box {
  box-sizing: border-box;
}

div3 p {
  font-family: helvetica;
  font-weight: bold;
  font-size: 40px;
}

div3 p2 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
}

img {
  border: 5px dotted grey;
  margin: 5px;
}

div4 {
  font-family: helvetica;
  font-size: 25px;
}
div5{
  border: 2px dotted grey;
  height: 50px;
  
}
.bottom-buttons{box-sizing: border-box;}