* {
box-sizing: border-box;
}

.main-container{
    width: 900px;
    margin: 0 auto 0 auto;
}


.promo-container{
    background-color: antiquewhite;
    font-family: helvetica;
}

header {
    display: flex;
}


.branding {
    background: black ;
    width: 150px;
    height: 45px;
    margin-right: auto;

}

.pill-button {
    display: inline-block;
    background: lightblue;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}

.promo{
    background: cornflowerblue;
    color: antiquewhite;
    font-size: 25px;
}

/* Big Promo */

#big-promo {
    padding-top: 200px;
    background-color: cornflowerblue;
    font-family: helvetica;
}


.promo-message{
    width: 60%;
    padding: 50px;
    background: goldenrod
}

footer {
    padding: 15px 10px 15px 10px;
    display: flex;   
    font-size: 10px;
}

.footer-links {
    flex: 1;
}

.footer-copyright {
    text-align: right;
    flex: 1;
}

.footer-copyright p {
    margin: 0;
}